@import '~bootstrap/dist/css/bootstrap.min.css';
@import url(https://fonts.googleapis.com/css?family=Roboto:500);
.App {
  text-align: center;
  padding: 2% 5%;
}

.App * {
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 5px 0;
}

input[type="text"],
input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
  /* margin-bottom: 20px; */
}

.city {
  width: 250px;
}

#NOEtextbox {
  width: 250px;
}

#number-of-events {
  display: flex;
  flex-direction: column;
  /* margin: auto; */
  position: relative;
}

#city-search {
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
}

.suggestions {
  width: 250px;
  position: absolute;
  top: 100%;
  z-index: 2;
  align-self: center;
  margin: 0;
  font-size: 14px;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: #eee;
  cursor: default;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.suggestions > li:hover {
  background-color: #bcdcdb;
}

.event {
  /* padding: 10px 10px 35px;
  margin-bottom: 10px;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative; */
}

.details-btn {
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 5px 8px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.hide-details {
  display: none;
}


 

.accordion-body {
  border: 2px solid #80B192;
  /* border: 1px solid rgba(67, 145, 255, 0.75); */
  background-color: #80B192;
}

.accordion-button:focus {
  box-shadow: none;
  border-color: #80B192;
}

.accordion-button:not(.collapsed) {
  background-color: #80B192;
  border-color: #80B192;
  box-shadow: none;
  color: black;
}


.accordion-button {
  border:2px solid #80B192;
  /* border:1px solid rgba(67, 145, 255, 0.75); */
  background-color: #afceb8;

}

/* .accordion-button:not(.collapsed) .event-summary  {
    transition: margin-left 2s;
  margin-left: 50px;


  justify-content: center;
  align-items: center;
  text-align: center;
}  */
 
.event-summary {
  font-weight: bold;
}

.event-meta {
  color: #555;
  font-size: 0.8em;
  margin-left: 10px;
}
 


.title {
  font-size: 24px;
  font-weight: bold;
  color: #333;  
  margin-bottom: 10px;
}

.alerts-container {
  position: fixed;
  top: 0px;
  left: 20px;
  width: fit-content;
  max-width: 250px;
  z-index: 1000;
  text-align: start;
}

/* .alerts-container {
  position: fixed;
  width: fit-content;
  top: 0px;
  left: 0;
  text-align: start;
  z-index: 1000;
} */

.charts-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: whitesmoke;
  border: 1px solid #ddd; 
  border-radius: 8px;
  gap: 10px;
}

@media (max-width: 800px) {
  .charts-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .alerts-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    z-index: 0;
    left: 0;
    text-align: start;
  }
  
}